.card-header-custom {
  padding: 1rem 1.25rem;
  margin-bottom: 0;
  background-color: #912828 !important;
  border-bottom: 1px solid #912828;
  color: white;
  text-transform: uppercase;
}
.modal-header-custome {
  padding: 1rem 1.25rem;
  margin-bottom: 0;
  background-color: #912828 !important;
  border-bottom: 1px solid #912828;
  color: white;
  text-transform: uppercase;
}
